# Configurazione di Calico gestita dal tigera-operator.
apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  calicoNetwork:
    ipPools:
      - name: default-ipv4-ippool
        blockSize: 26
        cidr: {{ pod_network_cidr }}
        encapsulation: VXLANCrossSubnet   # niente overlay tra nodi della stessa subnet, VXLAN altrimenti
        natOutgoing: Enabled
        nodeSelector: all()
---
apiVersion: operator.tigera.io/v1
kind: APIServer
metadata:
  name: default
spec: {}
