# Copia in terraform.tfvars e adatta. terraform.tfvars è in .gitignore.
kubeconfig_path = "~/.kube/config-nuc"
base_domain     = "lab.home.arpa"
metallb_address_range = "192.168.1.240-192.168.1.249"
enable_gitops         = false   # true dal capitolo 10
gitops_repo_url       = "https://github.com/YOUR_GH_USER/k8s-platform-lab.git"
